# Visual Studio cache
.vs/

# Visual Studio Code configurations
.vscode/

# CLion configurations
.idea/

# build folder
build/

# release folder
release/

# test pragrams folder
test/

# CMake settings for Visual Studio
CMakeSettings.json
